<div *ngIf="selezione?.anno; else loading" class="m-8 max-w-full w-11/12 flex flex-col">
  <div class="self-center flex">
    <div class="btn-group">
      <button class="btn">«</button>
      <button class="btn text-2xl text-center font-bold">Stagione {{selezione?.anno}}</button>
      <button class="btn">»</button>
    </div>
    <h1 class="text-2xl text-center font-bold"></h1>
  </div>

  <div *ngIf="selezione?.classificaPilotiBool && selezione?.classificaCostruttori && selezione?.gareBool; else loading" class="max-w-full flex flex-col gap-8 mt-10">

    <div class="flex xl:flex-row flex-col gap-8 justify-center">

      <div class="border flex-auto xl:w-2/3 h-max">
        <h2 class="text-center text-xl font-semibold mb-2">Classifica Piloti</h2>
        <div class="overflow-x-auto overflow-y-auto">
          <table class="table table-compact w-full text-center">
            <thead>
              <tr>
                <th>Posizione</th>
                <th>Pilota</th>
                <th>Vittorie</th>
                <th>Costruttore</th>
                <th>Punti</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let posto of selezione?.classificaPiloti | keyvalue;">
                <td>{{posto.value.posizione}}</td>
                <td>{{posto.value.pilota.nome + ' ' + posto.value.pilota.cognome}}</td>
                <td>{{posto.value.vittore}}</td>
                <td>{{posto.value.costruttore.nome}}</td>
                <td>{{posto.value.punti}}</td>
              </tr>
            </tbody>
            <ng-template #loadingTable>
              <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
            </ng-template>
          </table>
        </div>
      </div>
      <div class="border flex-auto xl:w-1/3 h-max">
        <h2 class="text-xl text-center font-semibold mb-2">Classifica Costruttori</h2>
        <div class="overflow-x-auto overflow-y-auto">
          <table class="table table-compact w-full text-center">
            <thead>
              <tr>
                <th>Posizione</th>
                <th>Costruttore</th>
                <th>Vittorie</th>
                <th>Punti</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let posto of selezione?.classificaCostruttori | keyvalue;">
                <td>{{posto.value.posizione}}</td>
                <td>{{posto.value.costruttore.nome}}</td>
                <td>{{posto.value.vittore}}</td>
                <td>{{posto.value.punti}}</td>
              </tr>
            </tbody>
            <ng-template #loadingTable>
              <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
            </ng-template>
          </table>
        </div>
      </div>

    </div>

    <div class="border flex-auto">
      <h2 class="text-center text-xl font-semibold mb-2">Gare</h2>
      <div class="overflow-x-auto">
        <table class="table table-compact w-full text-center">
          <thead>
            <tr>
              <th>Round</th>
              <th>Nome</th>
              <th>Circuito</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gara of selezione?.gare | keyvalue">
              <td>{{gara.value.round}}</td>
              <td>{{gara.value.nome}}</td>
              <td>{{gara.value.circuito.nome}}</td>
              <td>{{gara.value.data | date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex mt-10 self-center">
  <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
</div>
</ng-template>