<!-- <button (click)="getTutteStagioni()">Tutte le stagioni di F1</button>
<button (click)="stampa()">Stampa</button>
<button (click)="caricaGareStagione(2022, 0)">Carica</button> -->

<p>{{data.getMinutes()}}, {{data.getSeconds()}}, {{data.getMilliseconds()}}</p>
<p>{{data}}</p>
<p>{{test}}</p>
<p>{{s.toString()}}</p>

<!-- <button (click)="getTuttissimeStagioni()" class="btn btn-outline btn-info">carica stagioni</button> -->
<!-- <div *ngIf="caricato()">
    <h1 *ngFor="let stagione of sortedArray()">Stagione {{stagione.anno}}</h1>
</div> -->

<!-- <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th>Anno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stagione of getTuttissimeStagioni(); let i = index">
          <td>{{stagione.anno}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->

<!-- <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th>Anno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stagione of getTutteStag(); let i = index">
          <td>{{stagione.anno}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
        <tr>
          <th>Anno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stagione of t | keyvalue; let i = index">
          <td>{{stagione.key}}</td>
        </tr>
      </tbody>
    </table>
  </div>