<div
  *ngIf="selezione?.anno && selezione?.classificaCostruttoriBool && selezione?.classificaPilotiBool && selezione?.gareBool; else loading"
  class="max-w-screen-2xl w-11/12 flex flex-col mx-auto">

  <div class="text-4xl font-bold self-center flex flex-col justify-center">
    <div class="text-4xl font-bold text-center mb-2">
      <h1>Stagione</h1>
    </div>
    <div class="btn-group w-max">
      <button class="btn btn-primary rounded-r-none" [ngClass]="{'btn-disabled': ((selezione?.anno!-1) < 1950)}"
        routerLink="/stagione/{{selezione?.anno!-1}}">«</button>
      <input #annoInput class="btn btn-primary no-animation text-2xl text-center font-bold out-of-range:border-red-500 rounded-none"
        type="number" min="1950" max="{{getAnnoMaggiore()}}" step="1" value="{{selezione?.anno}}"
        routerLink="/stagione/{{annoInput.value}}" />
      <button class="btn btn-primary rounded-l-none" [ngClass]="{'btn-disabled': (getAnnoMaggiore() < (selezione?.anno!+1))}"
        routerLink="/stagione/{{selezione?.anno!+1}}">»</button>
    </div>
  </div>

  <div *ngIf="selezione?.gareBool; else loading" class="max-w-full flex flex-col gap-8 mt-10">
    <div class="flex xl:flex-row flex-col gap-8 justify-center">

      <div class="flex-auto xl:w-2/3 h-max">
        <h2 class="text-center text-2xl font-semibold mb-2">Classifica Piloti</h2>
        <div class="overflow-auto md:overflow-clip">
          <table class="table table-compact w-full text-center">
            <thead class="sticky top-0">
              <tr>
                <th>Posizione</th>
                <th>Pilota</th>
                <th>Vittorie</th>
                <th>Costruttore</th>
                <th>Punti</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cursor-pointer hover" routerLink="/pilota/{{posto.value.pilota.id}}"
                *ngFor="let posto of selezione?.classificaPiloti | keyvalue">
                <td>{{posto.value.posizione}}</td>
                <td><button routerLink="/pilota/{{posto.value.pilota.id}}" class="btn btn-xs btn-outline hover:btn-primary">{{posto.value.pilota.nome + ' ' + posto.value.pilota.cognome}}</button></td>
                <td>{{posto.value.vittore}}</td>
                <td><button routerLink="/costruttore/{{posto.value.costruttore.id}}" class="btn btn-xs btn-outline hover:btn-primary">{{posto.value.costruttore.nome}}</button></td>
                <td>{{posto.value.punti}}</td>
              </tr>
            </tbody>
            <ng-template #loadingTable>
              <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
            </ng-template>
          </table>
        </div>
      </div>

      <div class="flex-auto xl:w-1/3 h-max">
        <h2 class="text-center text-2xl font-semibold mb-2">Classifica Costruttori</h2>
        <div class="overflow-auto md:overflow-clip">
          <table class="table table-compact w-full text-center">
            <thead class="sticky top-0">
              <tr>
                <th>Posizione</th>
                <th>Costruttore</th>
                <th>Vittorie</th>
                <th>Punti</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cursor-pointer hover" routerLink="/costruttore/{{posto.value.costruttore.id}}"
                *ngFor="let posto of selezione?.classificaCostruttori | keyvalue">
                <td>{{posto.value.posizione}}</td>
                <td><button routerLink="/costruttore/{{posto.value.costruttore.id}}" class="btn btn-xs btn-outline hover:btn-primary">{{posto.value.costruttore.nome}}</button></td>
                <td>{{posto.value.vittore}}</td>
                <td>{{posto.value.punti}}</td>
              </tr>
            </tbody>
            <ng-template #loadingTable>
              <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
            </ng-template>
          </table>
        </div>
      </div>

    </div>

    <div class="flex-auto">
      <h2 class="text-center text-2xl font-semibold mb-2">Gare</h2>
      <div class="overflow-auto md:overflow-clip">
        <table class="table table-compact w-full text-center">
          <thead class="sticky top-0">
            <tr>
              <th>Round</th>
              <th>Nome</th>
              <th>Circuito</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cursor-pointer hover" routerLink="/stagione/{{gara.value.stagione.anno}}/{{gara.value.round}}"
              *ngFor="let gara of selezione?.gare | keyvalue">
              <td>{{gara.value.round}}</td>
              <td><button routerLink="/stagione/{{gara.value.stagione.anno}}/{{gara.value.round}}" class="btn btn-xs btn-outline hover:btn-primary">{{gara.value.nome}}</button></td>
              <td><button routerLink="/circuito/{{gara.value.circuito.id}}" class="btn btn-xs btn-outline hover:btn-primary">{{gara.value.circuito.nome}}</button></td>
              <td *ngIf="gara.value.data.toString() != 'Invalid Date'; else dataVuota">{{gara.value.data | date}}</td>
              <ng-template #dataVuota>
                <td>N/A</td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex my-auto self-center justify-center min-h-full">
    <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
  </div>
</ng-template>