<div class="mx-auto w-11/12 max-w-screen-2xl flex flex-col gap-8 xl:flex-row">

    <div id="carta" class="card card-side bg-base-100 shadow-xl w-full xl:w-3/8 flex-col gap-3 h-min top-8 xl:sticky relative">
        <div class="flex md:flex-row flex-col-reverse">
            <figure class="md:w-1/2 w-full">
                <img class="bg-contain" [src]="selezione?.imgUrl">
            </figure>
            <div class="md:w-1/2 w-full my-auto p-3">
                <div class="mb-6 text-center">
                    <h1 class="text-3xl xs:text-4xl mb-2 font-bold">{{selezione?.nome}}</h1>
                    <p class="text-lg font-semibold">{{selezione?.localita}} ({{selezione?.paese}})</p>
                    <div class="text-lg mt-2 flex flex-row justify-center gap-4">
                        <div class="flex flex-row items-center gap-1">
                            <img src="assets/immagini/flag.svg"  width="32" height="32"/>
                            {{selezione?.vettoreStagioniGare?.size}}
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div id="tab" class="w-full h-max xl:w-5/8 mt-4">
        <h2 class="text-center text-xl font-semibold mb-2">Gare</h2>
        <div class="max-h-[500px] xl:max-h-full overflow-auto xl:overflow-clip">
            <table class="table table-compact w-full text-center">
                <thead class="sticky top-0">
                    <tr>
                        <th>Stagione</th>
                        <th>Round</th>
                        <th>Nome</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr routerLink="/stagione/{{gara.value.stagione.anno}}/{{gara.value.round}}"
                        class="cursor-pointer hover"
                        *ngFor="let gara of selezione?.vettoreStagioniGare| keyvalue: inversKey">
                        <td><button routerLink="/stagione/{{gara.value.stagione.anno}}" class="btn btn-xs btn-outline hover:btn-primary">{{gara.value.stagione.anno}}</button></td>
                        <td>{{gara.value.round}}</td>
                        <td><button routerLink="/stagione/{{gara.value.stagione.anno}}/{{gara.value.round}}" class="btn btn-xs btn-outline hover:btn-primary">{{gara.value.nome}}</button></td>
                        <td *ngIf="gara.value.data.toString() != 'Invalid Date'; else dataVuota">{{gara.value.data | date}}</td>
                        <ng-template #dataVuota>
                            <td></td>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
