<div class="mx-auto w-11/12 max-w-screen-2xl">
  <div>
    <h1 class="text-4xl font-bold text-center">Costruttori di Formula 1</h1>
  </div>
  <div *ngIf="mappaCostruttori && cache.costBool; else loading" class="overflow-auto sm:overflow-clip mt-10">
    <table class="table table-compact w-full text-center">
      <thead class="sticky top-0">
        <tr>
          <th>Nome</th>
          <th>Nazionalità</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/costruttore/{{costruttore.key}}" class="cursor-pointer hover"
          *ngFor="let costruttore of mappaCostruttori | keyvalue; let i = index">
          <td>{{costruttore.value.nome}}</td>
          <td>{{costruttore.value.nazionalita}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loading>
    <div class="flex my-auto mt-10 self-center justify-center min-h-full">
      <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
    </div>
  </ng-template>
</div>