<div *ngIf="selezione?.classificaGaraBool; else loading" 
class="mx-auto max-w-screen-2xl w-11/12 flex flex-col gap-16">
  <div class="text-center">
    <h1 routerLink="/stagione/{{selezione?.stagione?.anno}}" class="text-4xl font-bold cursor-pointer">Stagione {{selezione?.stagione?.anno}} - Round {{selezione?.round}}</h1>
    <h2 class="text-2xl font-semibold">{{selezione?.nome}}</h2>
  </div>

  <div class="grid grid-cols-1 xl:grid-cols-2 xl:gap-8 gap-3">
    <div class="my-auto">
      <h2 class="text-center text-3xl font-semibold mb-2">Circuito</h2>
    <div class="card card-side bg-base-100 shadow-xl w-full flex-col gap-3 h-min cursor-pointer">
      <div routerLink="/circuito/{{selezione?.circuito?.id}}" class="flex md:flex-row flex-col-reverse" *ngIf="selezione?.circuito !== undefined">
        <figure class="md:w-1/2 w-full">
          <img class="bg-contain" [src]="selezione?.circuito?.imgUrl">
        </figure>
        <div class="md:w-1/2 w-full my-auto p-3">
          <div class="mb-6 text-center">
            <h1 class="text-xl font-bold">{{selezione?.circuito?.nome}}</h1>
            <p class="text-lg font-semibold">{{selezione?.circuito?.localita}} ({{selezione?.circuito?.paese}})</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider xl:hidden"></div> 
  <div class="my-auto">
    <h2 class="text-center text-3xl font-semibold mb-2">Vincitore</h2>
    <div class="card card-side bg-base-100 shadow-xl flex-col gap-3 cursor-pointer">
      <div routerLink="/pilota/{{selezione?.classificaGara?.get(1)?.pilota?.id}}" class="flex md:flex-row flex-col-reverse" *ngIf="selezione?.classificaGara?.get(1) !== undefined">
        <figure class="md:w-1/2 w-full">
          <img class="bg-contain" [src]="selezione?.classificaGara?.get(1)?.pilota?.imgUrl">
        </figure>
        <div class="md:w-1/2 w-full my-auto p-3">
          <div class="mb-6 text-center">
            <h1 class="text-xl font-bold">{{selezione?.classificaGara?.get(1)?.pilota?.nome + " " +
              selezione?.classificaGara?.get(1)?.pilota?.cognome}}</h1>
            <p class="text-lg font-semibold">{{selezione?.classificaGara?.get(1)?.pilota?.nazionalita}}
              ({{selezione?.classificaGara?.get(1)?.pilota?.dataDiNascita | date}})</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="flex-auto h-max">
    <h2 class="text-center text-3xl font-semibold mb-2">Classifica Piloti</h2>
    <div class="overflow-auto lg:overflow-clip">
      <table class="table table-compact w-full text-center">
        <thead class="sticky top-0">
          <tr>
            <th>Posizione</th>
            <th>Pilota</th>
            <th>Costruttore</th>
            <th>Poiszione di partenza</th>
            <th>Giri</th>
            <th>Tempo</th>
            <th>Punti</th>
          </tr>
        </thead>
        <tbody>
          <tr routerLink="/pilota/{{posto.value.pilota.id}}" class="cursor-pointer hover" *ngFor="let posto of selezione?.classificaGara| keyvalue">
            <td>{{posto.value.posizione}}</td>
            <td><button routerLink="/pilota/{{posto.value.pilota.id}}" class="btn btn-xs btn-outline hover:btn-primary">{{posto.value.pilota.nome + ' ' + posto.value.pilota.cognome}}</button></td>
            <td><button routerLink="/costruttore/{{posto.value.costruttore.id}}" class="btn btn-xs btn-outline hover:btn-primary">{{posto.value.costruttore.nome}}</button></td>
            <td>{{posto.value.griglia}}</td>
            <td>{{posto.value.giri}}</td>
            <td *ngIf="posto.value.tempo && posto.value.finito; else notempo">{{posto.value.tempo?.toString()}}</td>
            <ng-template #notempo>
              <td>
                <div class="badge badge-primary">Non finito</div>
              </td>
            </ng-template>
            <td>{{posto.value.punti}}</td>
          </tr>
        </tbody>
        <ng-template #loadingTable>
          <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
        </ng-template>
      </table>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex my-auto self-center justify-center min-h-full">
    <progress class="radial-progress animate-spin" style="--value:30;">Caricamento</progress>
  </div>
</ng-template>