<div class="mx-auto w-11/12 mb-6 max-w-screen-2xl flex flex-col gap-8 xl:flex-row">

    <div>
        <div class="card card-side bg-base-100 shadow-xl w-full xl:w-3/8 flex-col gap-3">
            <div class="flex">
                <figure class="w-1/2">
                    <img class="bg-contain rounded-br-lg pt-3 pl-3" [src]="selezione?.imgUrl"
                        alt="costruttore {{selezione?.nome}}">
                </figure>
                <div class="card-body w-1/2 my-auto p-2">
                    <div class="mb-6 text-center">
                        <h1 class="lg:text-7xl md:text-5xl text-2xl font-bold">{{selezione?.nome}}</h1>
                        <p class="lg:text-2xl text-lg font-semibold">{{selezione?.nazionalita}}</p>
                        <div class="lg:text-lg mt-2 flex flex-row justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="mr-1"
                                viewBox="0 0 16 16">
                                <path
                                    d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z" />
                            </svg>
                            {{selezione?.stagioniVinte}}
                        </div>
                        <div class="lg:text-lg mt-2 flex flex-row justify-center items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                            {{selezione?.piloti?.size}}
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="flex flex-col p-2">
                <h2 class="text-center text-xl font-semibold mb-2">Piloti</h2>
                <div class="overflow-auto max-h-[500px]">
                    <table class="table table-compact w-full text-center">
                        <thead class="sticky top-0">
                            <tr>
                                <th>Nome</th>
                                <th>Data di nascita</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr routerLink="/pilota/{{pilota.id}}" class="cursor-pointer hover"
                                *ngFor="let pilota of selezione?.piloti">
                                <td>{{pilota.nome + " " + pilota.cognome}}</td>
                                <td *ngIf="pilota.dataDiNascita.toString() != 'Invalid Date'; else dataVuota">
                                    {{pilota.dataDiNascita | date}}</td>
                                <ng-template #dataVuota>
                                    <td>{{pilota.nome + pilota.cognome}}</td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full xl:w-5/8 mt-4">
        <h2 class="text-center text-xl font-semibold mb-2">Stagioni</h2>
        <div class="overflow-x-auto max-h-full">
            <table class="table table-compact w-full text-center">
                <thead class="sticky top-0">
                    <tr>
                        <th>Stagione</th>
                        <th>Posizione</th>
                        <th>Vittorie</th>
                        <th>Punti</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer hover"
                        *ngFor="let posizoneStagione of selezione?.stagioniEGare| keyvalue">
                        <td>{{posizoneStagione.value.stagione.anno}}</td>
                        <td>{{posizoneStagione.value.posizione}}</td>
                        <td>{{posizoneStagione.value.vittore}}</td>
                        <td>{{posizoneStagione.value.punti}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>