<p>test works!</p>
<p class="font-sans text-2xl">test Tailwind!</p>
<button (click)="testDati(0)" class="btn btn-outline btn-info">Test DaisyUI</button>
<button (click)="testCircuito()" class="btn btn-outline btn-info">Test DaisyUI</button>

<!-- <div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Anno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stagione of getTutteStagioni(); let i = index">
        <td>{{stagione.anno}}</td>
      </tr>
    </tbody>
  </table>
</div> -->


<div *ngIf="vettoreDati != undefined" class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Anno</th>
          <th>LinkWikipedia</th>
          <th>IMGWikipedia</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <!-- <tr *ngFor="let stagione of vettoreDati.MRData.SeasonTable.Seasons; let i = index">
          <td>{{stagione.season}}</td>
          <td><a [href]="stagione.url">{{stagione.url}}</a></td>
          <td><img [src]="linksImg[i]"></td>
        </tr> -->

        <tr *ngFor="let stagione of vettoreDati.MRData.SeasonTable.Seasons; let i = index">
          <td>{{stagione.season}}</td>
          <td><a [href]="stagione.url">{{stagione.url}}</a></td>
          <td><img [src]="linksImg[i]"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vettoreDati != undefined" class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>Anno</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <!-- <tr *ngFor="let stagione of vettoreDati.MRData.SeasonTable.Seasons; let i = index">
          <td>{{stagione.season}}</td>
          <td><a [href]="stagione.url">{{stagione.url}}</a></td>
          <td><img [src]="linksImg[i]"></td>
        </tr> -->

        <tr *ngFor="let stagione of vettoreDati.MRData.SeasonTable.Seasons; let i = index">
          <td>{{stagione.season}}</td>
          <td><a [href]="stagione.url">{{stagione.url}}</a></td>
          <td><img [src]="linksImg[i]"></td>
        </tr>
      </tbody>
    </table>
  </div>