<div *ngIf="mappaPiloti" class="mx-auto w-11/12">
    <div>
        <h1 class="text-2xl text-center font-bold">Piloti di Formula 1</h1>
    </div>
    <div class="overflow-x-auto mt-10">
        <table class="table table-compact w-full text-center">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Cognome</th>
              <th>Data di nascita</th> 
              <th>Nazionalità</th>
              <th>Abbreviazione</th>
              <th>Numero</th> 
            </tr>
          </thead> 
          <tbody>
            <tr routerLink="/pilota/{{pilota.key}}" class="cursor-pointer hover" *ngFor="let pilota of mappaPiloti | keyvalue; let i = index">
              <td>{{pilota.value.nome}}</td> 
              <td>{{pilota.value.cognome}}</td> 
              <td *ngIf="pilota.value.dataDiNascita.toString() != 'Invalid Date'; else dataVuota">{{pilota.value.dataDiNascita | date}}</td>
              <ng-template #dataVuota>
                <td>N/A</td>
              </ng-template>
              <td>{{pilota.value.nazionalita}}</td>
              <td *ngIf="pilota.value.abbreviazione; else abVuota">{{pilota.value.abbreviazione}}</td>
              <ng-template #abVuota>
                <td>N/A</td>
              </ng-template>
              <td *ngIf="pilota.value.numero; else nVuoto">{{pilota.value.numero}}</td> 
              <ng-template #nVuoto>
                <td>N/A</td>
              </ng-template>
            </tr>
          </tbody> 
        </table>
      </div>
</div>